In [1]:
import pandas as pd

In [18]:
# from data2 import candidates,internships

df = pd.read_csv('candidates.csv')
interaction_matrix = pd.read_csv('candidates_interaction_matrix.csv', index_col=0)
candidate_list = ['candidate_1','candidate_29', 'candidate_25', 'candidate_14', 'candidate_10', 'candidate_6']
print('labels : ', interaction_matrix.columns.tolist())
print('-----------------------------------'*20)
print('\n\n')
for candidate in candidate_list:
    print(df[df['candidate_id']==candidate]['genre_time_spent'].values[0])
    print(df[df['candidate_id']==candidate]['genre_clicks'].values[0])
    print(df[df['candidate_id']==candidate]['location_clicks'].values[0])
    print(df[df['candidate_id']==candidate]['location_time_spent'].values[0])
    print(interaction_matrix.loc[candidate].values)

    print('-----------------------------------'*20)
    print('\n\n')

labels :  ['backend', 'civil', 'content', 'data', 'design', 'electrical', 'finance', 'frontend', 'hospitality', 'hr', 'iot', 'marketing', 'mechanical', 'ml', 'research', 'software', 'video', 'Ahmedabad', 'Bangalore', 'Chennai', 'Delhi', 'Goa', 'Gurgaon', 'Hyderabad', 'Indore', 'Jaipur', 'Kolkata', 'Mangalore', 'Mohali', 'Mumbai', 'Noida', 'Patna', 'Pune', 'Thiruvananthapuram']
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



{'ml': 15.2, 'data': 8.1}
{'ml': 12, 'data': 5}
{'Bangalore': 7}
{'Bangalore': 10.5}
[0.         0.         0.         0.37540594 0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.77946883 0.         0.         0.         0.
 0.50149649 0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.        ]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



{'data': 22.0}
{'data': 17}
{'Pune': 4}
{'Pune': 9.4}
[0.         0.         0.         0.94573318 0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.32494422 0.        ]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



{'data': 18.9}
{'data': 14}
{'Delhi': 5}
{'Delhi': 9.4}
[0.         0.         0.         0.91609342 0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.4009649  0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.        ]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



{'software': 20.4}
{'software': 16}
{'Bangalore': 4}
{'Bangalore': 9.9}
[0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.93420284 0.         0.
 0.35674229 0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.        ]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



{'frontend': 19.4}
{'frontend': 14}
{'Pune': 5}
{'Pune': 9.7}
[0.         0.         0.         0.         0.         0.
 0.         0.91527462 0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.40283045 0.        ]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



{'content': 22.5}
{'content': 20}
{'Chennai': 6}
{'Chennai': 11.3}
[0.         0.         0.92620513 0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.37701997 0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.        ]
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [4]:
df.keys()

Index(['name', 'education', 'skills', 'skill_proficiency', 'contact',
       'social_profiles', 'location', 'preferred_locations',
       'preferred_fields', 'avoid_fields', 'preferred_mode',
       'preferred_stipend', 'projects', 'experience_level', 'resume_text',
       'saved_jobs', 'applied_jobs', 'rejected_jobs', 'interviewed_jobs',
       'genre_time_spent', 'genre_clicks', 'location_time_spent',
       'location_clicks', 'career_goal', 'last_active', 'activity_score'],
      dtype='object')

In [4]:
candidate_id = [f"candidate_{i+1}" for i in range(len(candidates))]

In [8]:
df['candidate_id'] = candidate_id
df.tail()

,name,education,skills,skill_proficiency,contact,social_profiles,location,preferred_locations,preferred_fields,avoid_fields,...,rejected_jobs,interviewed_jobs,genre_time_spent,genre_clicks,location_time_spent,location_clicks,career_goal,last_active,activity_score,candidate_id
25,Anjali Poddar,"BBA Finance, Final Year","[Financial Modelling, Excel, Valuation]","{'Financial Modelling': 0.85, 'Excel': 0.9}","{'email': 'anjali.poddar@example.com', 'phone'...",{'linkedin': 'https://linkedin.com/in/anjalip'...,Patna,"[Patna, Bangalore]","[Finance, Investment Analysis]",[Design],...,[],[],{'finance': 20.2},{'finance': 15},{'Patna': 7.4},{'Patna': 3},Become an Investment Analyst,2025-01-20T11:30:00,0.81,candidate_26
26,Mihir Kulkarni,"B.Tech ECE, 2nd Year","[Arduino, Embedded C, IoT]","{'Arduino': 0.85, 'Embedded C': 0.78}","{'email': 'mihir.kulkarni@example.com', 'phone...","{'linkedin': 'https://linkedin.com/in/mihirk',...",Nashik,"[Pune, Hyderabad]","[IoT Development, Embedded Systems]",[Finance],...,[],[],{'iot': 19.0},{'iot': 14},{'Pune': 8.8},{'Pune': 4},Become an Embedded Systems Engineer,2025-01-21T09:40:00,0.84,candidate_27
27,Tanya Narang,"B.Des UX/UI Design, 1st Year","[Figma, Wireframing, User Research]","{'Figma': 0.8, 'User Research': 0.75}","{'email': 'tanya.narang@example.com', 'phone':...","{'linkedin': 'https://linkedin.com/in/tanyan',...",Gurgaon,"[Gurgaon, Bangalore]","[UI/UX, Product Design]",[Backend],...,[JOB_002],[],{'design': 17.5},{'design': 14},{'Gurgaon': 6.9},{'Gurgaon': 4},Become a UX Designer,2025-01-21T10:10:00,0.79,candidate_28
28,Abhay Pratap,"B.Tech IT, 3rd Year","[SQL, Data Warehousing, ETL]","{'SQL': 0.91, 'ETL': 0.82}","{'email': 'abhay.pratap@example.com', 'phone':...","{'linkedin': 'https://linkedin.com/in/abhayp',...",Gwalior,"[Pune, Hyderabad]","[Data Engineering, Analytics]",[Design],...,[],[],{'data': 22.0},{'data': 17},{'Pune': 9.4},{'Pune': 4},Become a Data Engineer,2025-01-20T18:20:00,0.88,candidate_29
29,Devika Menon,"B.A Psychology, 1st Year","[Counselling Basics, Research, Communication]","{'Communication': 0.9, 'Research': 0.82}","{'email': 'devika.menon@example.com', 'phone':...",{'linkedin': 'https://linkedin.com/in/devikam'...,Thiruvananthapuram,"[Thiruvananthapuram, Chennai]","[Psychology, HR]",[Engineering],...,[],[],{'hr': 12.1},{'hr': 7},{'Thiruvananthapuram': 5.5},{'Thiruvananthapuram': 3},Become a Counseling Support Specialist,2025-01-18T16:15:00,0.69,candidate_30

In [7]:
df.to_csv('candidates.csv', index=False)

In [13]:
df = pd.DataFrame(internships)
# df.to_csv('internships.csv', index=False)

In [14]:
df.head()

,job_id,title,company_name,field,location,duration,skills_required,stipend,description,candidate_expectations
0,JOB_001,Video Editing Intern,PixelVibe Studios,Video Editing,"Mumbai, Maharashtra",4 months,"[Adobe Premiere Pro, After Effects, Color Grad...","₹12,000/month","Edit short-form content for YouTube, Instagram...","We seek creative, deadline-driven individuals ..."
1,JOB_002,Graphic Design Intern,DesignMint Agency,Design,"Bengaluru, Karnataka",6 months,"[Figma, Adobe Illustrator, Photoshop, UI/UX Ba...","₹15,000/month","Design social media creatives, branding collat...",We want a visually curious designer who stays ...
2,JOB_003,Full Stack Development Intern,TechNex Solutions,Tech,"Hyderabad, Telangana",6 months,"[React.js, Node.js, MongoDB, Git]","₹20,000/month",Build and maintain features for web applicatio...,"We look for problem-solvers who love coding, a..."
3,JOB_004,Digital Marketing Intern,GrowthPulse Media,Marketing,Delhi NCR,3 months,"[SEO, Google Ads, Social Media Management, Canva]","₹10,000/month","Plan and execute campaigns on Meta, Google, an...","We need energetic, data-driven individuals who..."
4,JOB_005,Data Analyst Intern,InsightAnalytics Pvt Ltd,Data,"Pune, Maharashtra",5 months,"[Excel, SQL, Python, Tableau/Power BI]","₹18,000/month","Clean and analyze large datasets, build intera...",We seek analytical minds with intellectual cur...

In [19]:
from data2 import internships
internships_df = pd.DataFrame(internships)
internships_df.to_csv('internships.csv', index=False)